<%- include('../partials/header'); %>

<div class="site-inner">
  <div class="content-wrap">

    <main class="content">
      <article class="page entry" aria-label="<%= primary_nav.title %>>">
      
        <section id="about-header" class="entry-section">
          <div class="wrap">
            <div class="entry-content clearfix">
              <h2>KeyPair: Leading Cryptocurrency and Cybersecurity Consultancy</h2>
              <p>KeyPair is a premier UK-based Information Security consultancy firm, focusing on cryptocurrency and cybersecurity solutions. We deliver bespoke services to clients seeking expert advice in developing, enhancing, and maintaining their cybersecurity infrastructure.</p>
            </div>
          </div>
        </section>

        <section id="about-content" class="entry-section">
          <div class="wrap">
            <div class="entry-content clearfix">
              <h3>Founder and CEO, Paul Lee</h3>
              <p>Paul Lee is an accomplished Senior Information Security professional with a strong background in Cryptocurrency, FinTech, and Internet Security sectors. As a reputable cybersecurity advisor, he applies his extensive knowledge and experience in the IT and Security industries to support growing businesses in establishing robust security strategies and protecting their valuable digital assets.</p>
              <p>Paul earned a degree in Computing from Liverpool John Moores University and furthered his education in Computer Networking at Leeds Beckett University. This solid academic foundation paved the way for his successful career in the ever-changing landscape of cybersecurity.</p>
              <p>Before establishing KeyPair, Paul held the position of Chief Information Security Officer (CISO) at Uphold, a renowned cryptocurrency trading firm. There, he was instrumental in securing over $5 billion in retail investments across nearly 200 tradeable digital assets. With 17 years of experience in the InfoSec and IT industry in both the UK and US, Paul has acquired a wealth of expertise in protecting firms across regulated, unregulated, and private sectors.</p>
              <p>Paul's primary areas of interest include Identity Security, Distributed Ledger Security, Renewable Energy, and the CleanTech sector. He is also dedicated to promoting carbon-negative firms and implementing sustainable business practices.</p>
            </div>
          </div>
        </section>
      
      </article>
    </main>

  </div>
</div>

<%- include('../partials/footer'); %>