<%- include('../partials/header'); %>

<main class="content">
  <article class="page entry" aria-label="<%= primary_nav.title %>>">

    <section id="title-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <img id="kp-padlock-shield" src="/images/kp-padlock-shield.png">
          <h1 class="entry-title">Specialist <strong class="teal-brighter">Crypto</strong> & <strong class="orange-brighter">Fintech Cybersecurity</strong><br>Consultancy and Training</h1>
          <p>Headquartered in Liverpool UK</p>
        </div>
      </div>
    </section>

    <section id="banner-section" class="entry-section">
      <div class="wrap">
        <p>We have <strong class="orange-darker">decades of experience</strong> protecting small to medium enterprise clients in Europe and the USA to <strong class="orange-darker">build and strengthen</strong> their cyber defences.</p>
      </div>
    </section>

    <section id="partnering-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <p class="first-paragraph">Keypair is capable of expanding your target audience through security stance measurement. By liaising with your marketing departments, we can ensure potential markets are aware of your security capabilities.</p>
          <p class="second-paragraph">Partnering with us on limited or long term engagements will strengthen your security posture, advance your security potential and ensure the awareness of your whole firm is upgraded.</p>
        </div>
      </div>
    </section>

    <section id="cybersecurity-section-1" class="entry-section">
      <div class="wrap">

        <div class="columns layout-columns-2 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img url="/images/">
                  <p>image</p>
                  <h3>Interfacing between your organisation and auditors</h3>
                </div>

                <div class="column-article">
                  <p>We will work with you to ensure your organisation complies with International Regulatory Standards like the ISO 27001:2013, American standards like SOC2 or NIST's overall Cybersecurity Framework. We can work with your team to represent your organisation effectively to auditors and external regulatory bodies.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img url="/images/">
                  <p>image</p>
                  <h3>CyberSecurity stance builder</h3>
                </div>

                <div class="column-article">
                  <p>You have come this far unscathed, but it’s time to bring someone in to review your posture and guide you to a safer future state. You need someone who knows what good (and bad) looks like and want to lean on that experience. </p>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

  </article>
</main>

<%- include('../partials/footer'); %>