<%- include('../partials/header'); %>

<main class="content">
  <article class="page entry" aria-label="<%= primary_nav.title %>>">

    <section id="title-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <img id="kp-padlock-shield" src="/images/kp-padlock-shield.png">
          <h1 class="entry-title">Specialist <strong class="teal-brighter">Crypto</strong> & <strong class="orange-brighter">Fintech Cybersecurity</strong><br>Consultancy and Training</h1>
          <p>Headquartered in Liverpool UK</p>
        </div>
      </div>
    </section>

    <section id="banner-section" class="entry-section">
      <div class="wrap">
        <p>We have <strong class="orange-darker">decades of experience</strong> protecting small to medium enterprise clients in Europe and the USA to <strong class="orange-darker">build and strengthen</strong> their cyber defences.</p>
      </div>
    </section>

    <section id="partnering-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <p class="first-paragraph">Keypair is capable of expanding your target audience through security stance measurement. By liaising with your marketing departments, we can ensure potential markets are aware of your security capabilities.</p>
          <p class="second-paragraph">Partnering with us on limited or long term engagements will strengthen your security posture, advance your security potential and ensure the awareness of your whole firm is upgraded.</p>
        </div>
      </div>
    </section>

    <section id="cybersecurity-section-1" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-2 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-network-matrix-security.png">
                  <h3>Interfacing between your organisation and auditors</h3>
                </div>

                <div class="column-article">
                  <p>We will work with you to ensure your organisation complies with International Regulatory Standards like the ISO 27001:2013, American standards like SOC2 or NIST's overall Cybersecurity Framework. We can work with your team to represent your organisation effectively to auditors and external regulatory bodies.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-network-wheel-security.png">
                  <h3>CyberSecurity stance builder</h3>
                </div>

                <div class="column-article">
                  <p>You have come this far unscathed, but it’s time to bring someone in to review your posture and guide you to a safer future state. You need someone who knows what good (and bad) looks like and want to lean on that experience. </p>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section id="cybersecurity-section-2" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-2 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner" id="cybersecurity-training-col">

                <div class="column-header">
                  <img src="/images//keypair-icons-secure-skyscraper.png">
                  <h3>CyberSecurity training for small to medium firms</h3>
                </div>

                <div class="column-article">
                  <p>As a boutique CyberSecurity firm, we can provide face-to-face training to your IT folks which will give you peace of mind in areas of broad relevance.</p>
                  <p>Due to the depth of security experience in the crypto-currency and fintech fields, we can also provide targeted support.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column" id="objective-trusted-col">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-shield-tick.png">
                  <h3>Objective trusted opinion</h3>
                </div>

                <div class="column-article">
                  <p>You need an outsider's expert opinion on your cybersecurity posture & technology investments.</p>
                  <p>While you may believe all the pieces are in place, you think an expert pair of eyes is needed to give an objective opinion and provide guidance.</p>                
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section id="cybersecurity-section-3" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-3 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-secure-search-users.png">
                  <h3>Policy and procedure gaps</h3>
                </div>

                <div class="column-article">
                  <p>You already have an efficient cybersecurity team in place. But you believe that your existing policies and processes need an objective review from an external trusted expert.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-briefing.png">
                  <h3>Executive briefings</h3>
                </div>

                <div class="column-article">
                  <p>We deliver bespoke executive briefings to engage and advise senior executives. We also offer recommendations on corrective actions where required.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-cv.png">
                  <h3>Executive interviews</h3>
                </div>

                <div class="column-article">
                  <p>We will support you in reviewing executive CVs & conducting interviews.</p>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section class="entry-section">
      <div class="wrap">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Paragraph text.</p>
      </div>
    </section>


  </article>
</main>

<%- include('../partials/footer'); %>