<%- include('../partials/header'); %>

<main class="content">
  <article class="page entry" aria-label="<%= primary_nav.title %>>">

    <section id="title-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <img id="kp-padlock-shield" src="/images/kp-padlock-shield.png">
          <h1 class="entry-title">Specialist <strong class="teal-brighter">Crypto</strong> & <strong class="orange-brighter">Fintech Cybersecurity</strong><br>Consultancy and Training</h1>
          <p>Headquartered in Liverpool UK</p>
        </div>
      </div>
    </section>

    <section id="banner-section" class="entry-section">
      <div class="wrap">
        <p>We have <strong class="orange-darker">decades of experience</strong> protecting small to medium enterprise clients in Europe and the USA to <strong class="orange-darker">build and strengthen</strong> their cyber defences.</p>
      </div>
    </section>

    <section id="partnering-section" class="entry-section">
      <div class="wrap">
        <div class="entry-content clearfix">
          <p class="first-paragraph">Keypair is capable of expanding your target audience through security stance measurement. By liaising with your marketing departments, we can ensure potential markets are aware of your security capabilities.</p>
          <p class="second-paragraph">Partnering with us on limited or long term engagements will strengthen your security posture, advance your security potential and ensure the awareness of your whole firm is upgraded.</p>
        </div>
      </div>
    </section>

    <section id="cybersecurity-section-1" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-2 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-network-matrix-security.png">
                  <h3>Interfacing between your organisation and auditors</h3>
                </div>

                <div class="column-article">
                  <p>Partner with us to achieve compliance with global regulatory standards, such as ISO 27001:2013, U.S. guidelines like SOC2, and NIST's comprehensive Cybersecurity Framework.</p>
                  <p>Our experts will collaborate with your team to present your company effectively to auditors and external regulatory authorities.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-network-wheel-security.png">
                  <h3>CyberSecurity stance builder</h3>
                </div>

                <div class="column-article">
                  <p>Safeguard your business's future by engaging a seasoned professional to thoroughly assess your cybersecurity posture and proactively steer you towards enhanced security.</p>
                  <p>Benefit from our expertise in identifying and effectively rectifying vulnerabilities to ensure the continued safety and protection of your digital assets. </p>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section id="cybersecurity-section-2" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-2 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner" id="cybersecurity-training-col">

                <div class="column-header">
                  <img src="/images//keypair-icons-secure-skyscraper.png">
                  <h3>CyberSecurity training for small to medium firms</h3>
                </div>

                <div class="column-article">
                  <p>As a boutique CyberSecurity firm, we can provide face-to-face training to your IT folks which will give you peace of mind in areas of broad relevance.</p>
                  <p>Due to the depth of security experience in the crypto-currency and fintech fields, we can also provide targeted support.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column" id="objective-trusted-col">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-shield-tick.png">
                  <h3>Objective trusted opinion</h3>
                </div>

                <div class="column-article">
                  <p>You need an outsider's expert opinion on your cybersecurity posture & technology investments.</p>
                  <p>While you may believe all the pieces are in place, you think an expert pair of eyes is needed to give an objective opinion and provide guidance.</p>                
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section id="cybersecurity-section-3" class="entry-section cybersecurity-section">
      <div class="wrap">

        <div class="columns layout-columns-3 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-secure-search-users.png">
                  <h3>Policy and procedure gaps</h3>
                </div>

                <div class="column-article">
                  <p>Enhance your cybersecurity framework with our external expertise. We objectively assess and refine your policies and procedures.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-briefing.png">
                  <h3>Executive briefings</h3>
                </div>

                <div class="column-article">
                  <p>Empower senior executives with our customized briefings. We provide valuable insights and actionable recommendations for improvement.</p>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-cv.png">
                  <h3>Executive interviews</h3>
                </div>

                <div class="column-article">
                  <p>Optimize your executive hiring process effectively. We offer thorough CV reviews, comprehensive assessments, and professional interview guidance.</p>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <section id="crypto-section" class="entry-section">
      <div class="wrap">

        <div class="entry-content clearfix">
          <h2>Crypto Liquidity Management design</h2>
          <p>Our expertise in information and cyber security is augmented by specialist knowledge designing crypto-specific protection mechanisms for businesses who need to hold and transfer cryptocurrencies. Years of designing systems and testing best-in-class tools to manage $b's for retail and institutional investors has given us the grounding needed to create and assess storage designs to suit your business. Design the system to limit risk.</p>
        </div>

        <div class="columns layout-columns-3 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-network.png">
                </div>

                <div class="column-article">
                  <h3>Governance & Quorum</h3>
                  <ul>
                    <li>Cryptocurrency-focused key compromise protocol design</li>
                    <li>Cryptocurrency payment gateway integration strategies</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-bitcoin.png">
                </div>

                <div class="column-article">
                  <h3>Minting</h3>
                  <ul>
                    <li>Ad-Hoc / Batch cryptocurrency minting processes</li>
                    <li>Customizable token generation for various cryptocurrencies</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-padlock-cog.png">
                </div>

                <div class="column-article">
                  <h3>Executive interviews</h3>
                  <ul>
                    <li>Expert opinions on cryptocurrency market trends</li>
                    <li>Thought leadership in the evolving crypto landscape</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

        <div class="columns layout-columns-3 equal-height-rows">
          <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-etherium.png">
                </div>

                <div class="column-article">
                  <h3>Third party management</h3>
                  <ul>
                    <li>Cryptocurrency-specific third-party risk management</li>
                    <li>Comprehensive oversight for crypto and general operations</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-notepad-statistics.png">
                </div>

                <div class="column-article">
                  <h3>Business Continuity</h3>
                  <ul>
                    <li>Planning for cryptocurrency-related disruptions</li>
                    <li>Ensuring resilience in the face of crypto market fluctuations</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
            <div class="layout-column">
              <div class="layout-column-inner">

                <div class="column-header">
                  <img src="/images/keypair-icons-finops.png">
                </div>

                <div class="column-article">
                  <h3>FinOps integration</h3>
                  <ul>
                    <li>Merging financial operations with cryptocurrency systems</li>
                    <li>Streamlining cost management through crypto-based solutions</li>
                  </ul>
                </div>
              
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <!-- <section class="entry-section">
      <div class="wrap">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Paragraph text.</p>
      </div>
    </section> -->

  </article>
</main>

<%- include('../partials/footer'); %>