      <footer class="site-footer" itemtype="https://schema.org/WPFooter">
        <div class="wrap">
        
          <div class="columns layout-columns-3">
            <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
            
              <div class="layout-column column-1">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <img src="/images/keypair-white-logo-small-transparent.png">
                  </div>
                
                </div>
              </div>
            
              <div class="layout-column column-2">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <p>Keypair Ltd - Cryptocurrency and Cybersecurity<br>44 Millvale St, Liverpool, L6 6BB <br>Registered UK company number 14379324</p>
                  </div>
                
                </div>
              </div>
            
              <div class="layout-column column-3">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <p>Copyright <%= year %> KeyPair Ltd</p>
                    <ul>
                      <li><a href="/about" title="About">About</a></li>
                      <li><a href="https://www.linkedin.com/company/keypair-ltd/" title="LinkedIn">LinkedIn</a></li>
                    </ul>
                  </div>
                
                </div>
              </div>
            
            </div>
          </div>
        
        </div>
      </footer>

    </div>

  </body>
</html>