      <footer class="site-footer" itemtype="https://schema.org/WPFooter">
        <div class="wrap">
        
          <div class="columns layout-columns-3">
            <div class="layout-column-wrap layout-column-gap-2 is-responsive-column">
            
              <div class="layout-column column-1">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <img src="/images/keypair-white-logo-small-transparent.png">
                  </div>
                
                </div>
              </div>
            
              <div class="layout-column column-2">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <p>KeyPair Ltd - Address Line 1, Address Line 2,  Town/City, County,  XXXX XXX <br>Registered UK company number 00000000</p>
                  </div>
                
                </div>
              </div>
            
              <div class="layout-column column-3">
                <div class="layout-column-inner">
                
                  <div class="column-article">
                    <p>Copyright 2023 KeyPair Ltd</p>
                    <ul>
                      <li><a href="/" title="Site Index">Site Index</a></li>
                      <li><a href="/" title="Cookie Policy">Cookie Policy</a></li>
                    </ul>
                  </div>
                
                </div>
              </div>
            
            </div>
          </div>
        
        </div>
      </footer>

    </div>

  </body>
</html>